<section class="detailImageWrapper">
    <img src="<%= articles.urlToImage %>" alt="<%= articles.title %>">
    <section class="topComment">
        <p class="headerQuote">
            <%= articles.quote %>
        </p>
    </section>
    <p>
        <%= articles.date %>
    </p>
    <h1>
        <%= articles.title %>
    </h1>
</section>
<article class="detailContent">
    <button class="showComments" id="showSub">
        Comments
    </button>
    <p>
        <%= articles.text1 %>
    </p>
    <section id="articleComment-one" class="textComment hide">
        <div role="button" class="commentIcon" id="iconOne"></div>
        <p>
            Dit is een comment. Ik schrijf hier mijn mening over het artikel of onderwerp. Als mensen mijn comment lezen krijgen ze een idee over wat ik vind.
        </p>
        <span>John Doe | 10-06-2017</span>
    </section>
    <p id="paragraphTwo">
        <%= articles.text2 %>
    </p>
    <section id="articleComment-two" class="textComment hide">
        <div role="button" class="commentIcon" id="iconTwo"></div>
        <p>
            Dit is een comment. Ik schrijf hier mijn mening over het artikel of onderwerp. Als mensen mijn comment lezen krijgen ze een idee over wat ik vind.
        </p>
        <span>John Doe | 10-06-2017</span>
    </section>
    <p id="paragraphThree">
        <%= articles.text3 %>
    </p>
    <section id="articleComment-three" class="textComment hide">
        <div role="button" class="commentIcon" id="iconThree"></div>
        <p>
            Dit is een comment. Ik schrijf hier mijn mening over het artikel of onderwerp. Als mensen mijn comment lezen krijgen ze een idee over wat ik vind.
        </p>
        <span>John Doe | 10-06-2017</span>
    </section>
    <p id="paragraphFour">
        <%= articles.text4 %>
    </p>
</article>
