<ul class="articleList">
    <% articles.articles.forEach(function(article){ %>
        <li>
            <a href="/<%= article.id %>">
                <div class="thumbnailWrapper">
                    <img src="<%= article.urlToImage %>" alt="<%= article.title %>">
                </div>
                <h1>
                    <%= article.title %>
                </h1>
            </a>
        </li>
        <li>
            <a href="/<%= article.id %>">
                <div class="thumbnailWrapper">
                    <img src="<%= article.urlToImage %>" alt="<%= article.title %>">
                </div>
                <h1>
                    <%= article.title %>
                </h1>
            </a>
        </li>
        <li>
            <a href="/<%= article.id %>">
                <div class="thumbnailWrapper">
                    <img src="<%= article.urlToImage %>" alt="<%= article.title %>">
                </div>
                <h1>
                    <%= article.title %>
                </h1>
            </a>
        </li>
    <% }); %>
</ul>

<!-- <ul class="articleList">
    <li>
        <h1 id="dayOne">

        </h1>
    </li>
    <% articles.articles.forEach(function(article){ %>
        <li>
            <a href="/<%= article.id %>">
                <div class="thumbnailWrapper">
                    <img src="<%= article.urlToImage %>" alt="<%= article.title %>">
                </div>
                <h1>
                    <%= article.title %>
                </h1>
            </a>
        </li>
    <% }); %>
</ul> -->

<% articles.articles.forEach(function(article) { %>
    <% if (article.title.match("Trump")) { %>
<%}}); %>
