<section class="detailImageWrapper">
    <img src="<%= articles.urlToImage %>" alt="<%= articles.title %>">
    <a class="backLink" href="/">< Back to overview</a>
    <section class="topComment">
        <h1 class="headerTitle">
            <%= articles.title %>
        </h1>
    </section>
    <p>
        <%= articles.date %>
    </p>
</section>
<article class="detailContent">
    <!-- <button class="showComments hide" id="showSub">
        Comments
    </button> -->
    <p class="articleQuote">
        "<%= articles.quote %>"
    </p>
    <p>
        <%= articles.text1 %>
    </p>
    <section id="articleComment-one" class="textComment hide">
        <div role="button" class="commentIcon" id="iconOne"></div>
        <p>
        </p>
        <span>John Doe | 10-06-2017</span>
    </section>
    <p id="paragraphTwo">
        <%= articles.text2 %>
    </p>
    <section id="articleComment-two" class="textComment hide">
        <div role="button" class="commentIcon" id="iconTwo"></div>
        <p>
        </p>
        <span>John Doe | 10-06-2017</span>
    </section>
    <p id="paragraphThree">
        <%= articles.text3 %>
    </p>
    <section id="articleComment-three" class="textComment hide">
        <div role="button" class="commentIcon" id="iconThree"></div>
        <p>
        </p>
        <span>John Doe | 10-06-2017</span>
    </section>
    <p id="paragraphFour">
        <%= articles.text4 %>
    </p>
</article>
<a class="backLink bottomLink" href="/">< Back to overview</a>
